/* .App {
  border: 1px solid rgb(224, 13, 13);
  text-align: center;
  width: 350px;
  height: 600px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
} */

/* .App{
  height: 33.5rem;
} */
